mule-aws-poc/src/main/mule/mule-aws-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mule-aws-pocFlow" doc:id="3428d62a-a1b7-49fa-a0eb-5653678959c3" >
		<http:listener doc:name="Listener" doc:id="723f1c6a-5e1c-44d6-8b2c-bb645d0bf6df" config-ref="HTTP_Listener_config" path="/api/aws"/>
		<logger level="INFO" doc:name="Log Start" doc:id="1c14b328-7675-4c4b-a57a-8c40a856a050" message="#['AWS Flow has Started']"/>
		<ee:transform doc:name="Send Response" doc:id="a8b9ee62-7a3e-45cc-95e8-d3784b260f2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"response": 'Message from User :: '++ payload.message
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log End" doc:id="a6ef11b1-e708-472c-af30-bd5b5025ca64" message="#['Flow Ended with response as :: '++ payload.response]"/>
	</flow>
</mule>
